@charset "utf-8";

@import url(./utils.css);

html {
  color: var(--app-text-color);
}

header{
  background-color: var(--app-main-color);
  height: 65px;
  line-height: 65px;

  a {
    text-decoration: none;

    h1 {
      font-size: 2.2rem;
      font-weight: 400;
      color: var(--app-text-color);
      cursor: pointer;
    }
  }

  nav {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      padding: 0;

      li {
        a {
          color: var(--app-text-color);
          text-decoration: none;
          font-size: 1.8rem;
          margin: 0 10px;
          position: relative;
        }

        a::after {
          content: "";
          position: absolute;
          width: 0%; 
          height: 2px;
          background-color: var(--app-text-color);
          bottom: -1px;
          left: 0;
          transition: all 0.25s ease-in-out;
        }
        
        a:hover::after {
          width: 100%;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
  }
}

.hero-banner {
  margin-bottom: 80px;
	display: flex;
	width: 100%;
	height: 400px;
	background: #fff url("../img/hero-banner.jpg") no-repeat center center;
	background-size: cover;
	position: relative;
	justify-content: center;
	align-items: center;
	z-index: 0;

  .title {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 500;
    text-align: center;
  
    h1 {
      font-size: 8rem;
      font-weight: 600;
      color: #fff;
    }
  }

  .hero-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    color: var(--app-text-color);
    background-color: var(--app-main-color);
    margin: 15px auto;
    cursor: pointer;
    border-radius: var(--app-border-rad);
    transition: all 0.25s ease-in-out;
  }
  
  .hero-button:hover {
    background-color: #aad6c9;
  }

  
  .slogan {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 15px;
  }
}

.hero-banner::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 0.4);
	z-index: 10;
}

.map-area {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

#map {
  width: 900px; 
  height: 600px; 
  z-index: 0;
}

.show-location {
  width: 200px;
  height: 60px;
  line-height: 40px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--app-text-color);
  background-color: var(--app-main-color);
  margin-top: 40px;
  cursor: pointer;
  border-radius: var(--app-border-rad);
  transition: all 0.25s ease-in-out;
  padding: 5px 15px;
  box-shadow: 1px 1px 2px #8fb3a8;
}

.about-us {
  margin: 20px 0 40px 0;

  h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }

  p + p {
    margin-top: 20px;
  }

  .image-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin: 50px 0;
  
    .image {
      box-shadow: 0 1px 2px rgba(0 0 0 / 0.1);
      width: calc(25% - 20px);
      aspect-ratio: 1;
      padding-top: 20px;
      border-radius: var(--app-border-rad);
      display: grid;
      object-fit: cover;
      overflow: hidden;
      user-select: none;
    } 
  
    .image-01 {
      background: url("../img/image-01.jpg") no-repeat center center;
      background-size: cover;
    }
  
    .image-02 {
      background: url("../img/image-02.jpg") no-repeat center center;
      background-size: cover;
    }
  
    .image-03 {
      background: url("../img/image-03.jpg") no-repeat center center;
      background-size: cover;
    }
  
    .image-04 {
      background: url("../img/image-04.jpg") no-repeat center center;
      background-size: cover;
    }
  }
}

.tiers {
  background-color: #fcfcfc;
  padding: 40px 0 40px 0;

  h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
  }

  .tier-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .tier {
    border: transparent 2px solid;
    height: 500px;
    position: relative;
    background-color: #fff;
    border-radius: var(--app-border-rad);
    box-shadow: 0 1px 2px rgba(0 0 0 / 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 2px 4px rgb(0 0 0 / 0.2);
    }

    h4 {
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 15px;
      color: #11d59a;
    }

    img{
      width: 100%;
      aspect-ratio: 16/9;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.6;
      margin: 15px 0 40px 0;
    }

    .order-now {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: var(--app-main-color);
      color: var(--app-text-color);
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .order-now:hover {
      background-color: #aad6c9;
    }
  }

  .baller {
    border:var(--app-main-color) 2px solid;
  }
}

@media screen and (max-width: 880px) {
  .hero-banner {
    height: 300px;

    .title {
      h1 {
        font-size: 6rem;
      }
    }
  }

  .hero-banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.4);
    z-index: 10;
  }

  #map {
    width: 100%; 
    height: 400px; 
    z-index: 0;
  }

  .show-location {
    width: 150px;
    height: 50px;
    line-height: 30px;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 20px;
  }

  .about-us {
    h2 {
      font-size: 2.5rem;
    }

    .image-wrapper {
      .image {
        width: calc(50% - 20px);
      }
    }
  }

  .tiers {
    .tier {
      flex: 1 1 calc(50% - 20px);
    }
  }
}

@media screen and (max-width: 500px) {
  .hero-banner {
    height: 200px;

    .title {
      h1 {
        font-size: 4rem;
      }
    }
  }

  .hero-button {
    width: 120px;
    height: 35px;
    line-height: 35px;
    font-size: 1.5rem;
  }

  .slogan {
    font-size: 1.5rem;
  }

  #map {
    width: 100%;
    height: 300px;
  }

  .show-location {
    width: 120px;
    height: 40px;
    line-height: 25px;
    font-size: 1.5rem;
  }

  .about-us {
    h2 {
      font-size: 2rem;
    }
  }

  .tiers {
    .tier {
      height: 500px;
      flex: 1 1 100%;
    }
  }

  header {
    height: auto;
    line-height: normal;

    nav {
      display: none;
    }

    .hamburger-menu {
      display: block;
      cursor: pointer;
      font-size: 2rem;
      color: var(--app-text-color);
    }
  }

  .hamburger-menu {
    display: none;
  }

  .hamburger-menu.active + nav {
    display: block;
  }
}